@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Light.woff') format('woff'),
       url('../fonts/Montserrat-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-LightItalic.woff') format('woff'),
       url('../fonts/Montserrat-LightItalic.woff2') format('woff2');
  font-style:italic;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff') format('woff'),
       url('../fonts/Montserrat-SemiBold.woff2') format('woff2');
  font-weight: bold;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBoldItalic.woff') format('woff'),
       url('../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Quattrocento Sans';
  src: url('../fonts/QuattrocentoSans-Regular.woff') format('woff'),
       url('../fonts/QuattrocentoSans-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Quattrocento Sans';
  src: url('../fonts/QuattrocentoSans-Italic.woff') format('woff'),
       url('../fonts/QuattrocentoSans-Italic.woff2') format('woff2');
  font-style: italic;
}
@font-face {
  font-family: 'Quattrocento Sans';
  src: url('../fonts/QuattrocentoSans-Bold.woff') format('woff'),
       url('../fonts/QuattrocentoSans-Bold.woff') format('woff2');
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply text-5xl font-semibold font-display;
  }
  h3 {
    @apply text-4xl font-bold;
  }
  p {
    @apply text-2xl;
  }
}

@layer components {
  .btn {
    @apply text-2xl bg-red hover:bg-red-dark hover:underline px-5 py-2 rounded-lg text-white;
  }
}